* {
    margin: 0;
    padding: 0;
    font-family: Alata;
}

#wrapper {
    background:#6c6d6d;
    margin: 0 auto;
}

header {
    width: 93%;
    height: 35px;
    position: fixed;
    top: 0;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 2px #727171;
    background-image: linear-gradient(#d77a61, #ce7a65);
}
    header img {
        width: 7%;
        height: 90px;
        align-self: center;
        margin-left: 20px;
    }

    .header-link {
        margin-top: -8px;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #ffaa6d;
    }

    header h1 {
        font-size: 40px;
    }

    header a {
        color: white;
        font-size: 18px;
    }

#bar {
    justify-content: space-between;
}
    #bar ul li, a {
        display: inline-block;
        text-align: center;
        padding-left: 14px;
        padding-top: 3px;
        margin: 4px;
        color: white;
        text-decoration: none;
    }

#log-form {
    display: none;
    background-color: #f2f2f2;
    width: 230px;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #19323c;
}
    .log-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    button {
        padding: 1px 8px;
        margin-left: 78px;
    }

#column {
    width: 70%;
    height: 540px;
    margin: auto;
    margin-top: 65px;
    padding: 33px;
    background-color: #f2f2f2;
    box-shadow: 10px -2px 6px -5px #424b4c, -10px -2px 6px -5px #424b4c;
}

.greeting {
    margin: 20px 0 0 23px;
    color: #d77a61;
    font-size: 44px;
}
    
#container {
    width: 800px;
    margin: auto;
    padding: 40px 0px;
    margin-top: -13px;
    display: flex;
    justify-content: center;
    border: 2px solid #19323c;
    border-radius: 2px;
    box-shadow: 8px 8px #334e58;
}

#check_form {
    margin-left: -55px;
}

table {
    border-spacing: 15px;
    padding: 0px 40px;
}

input {
    width: 155px;
}

button {
    margin: 15px 0 0 160px;
    color: #d77a61;
}

#cart {
    margin: 0;
}
    #cart h2 {
        margin-top: -22px;
    }

#cart-list {
    margin-top: 12px;
    border-spacing: 0;
    padding: 0px;
    font-size: 14px;
}
    #cart-list td {
        padding: 5px 8px;
    }
    #cart-list tr:nth-child(even) {
        background: #ecc8af;
    }
    #cart-list tr:nth-child(odd) {
        background: #e7ad99;
    }

#total {
    margin: 20px 0px 0px 230px;
}

#foot {
    margin-top: 50px;
    color: #19323c;
    font-size: 11px;
    text-align: center;
}
    #foot a {
        color: #19323c;
        margin-left: -10px;
    }
    #foot a:hover {
        color: #ffaa6d;
    }
    #foot p {
        line-height: 6px;
    }