* {
    margin: 0;
    padding: 0;
    font-family: Alata;
}

#wrapper {
    background:#6c6d6d;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    padding: 15px 160px 15px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 2px #727171;
    background-image: linear-gradient(#d77a61, #ce7a65);
}
    header img {
        width: 7%;
        height: 90px;
        align-self: center;
        margin-left: 20px;
    }

    .header-link {
        margin-top: -8px;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #ffaa6d;
    }

    header a {
        color: white;
        font-size: 18px;
    }

/* styling for logged in header */
#bar {
    justify-content: space-between;
}
    #bar ul li, a {
        display: inline-block;
        text-align: center;
        padding-left: 14px;
        margin: 4px;
        color: white;
        text-decoration: none;
    }

#log-form {
    display: none;
    background-color: #f2f2f2;
    width: 230px;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #19323c;
}
    .log-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    button {
        padding: 1px 8px;
        margin-left: 78px;
    }

#column {
    width: 70%;
    margin: auto;
    margin-top: 65px;
    padding: 33px;
    background-color: #f2f2f2;
    box-shadow: 10px -2px 6px -5px #424b4c, -10px -2px 6px -5px #424b4c;
}

#container {
    width: 850px;
    margin: auto;
    padding: 10px 0px 10px 25px;
    margin-bottom: 40px;
    border: 2px solid #19323c;
    border-radius: 2px;
    box-shadow: 8px 8px #334e58;
}

.section {
    border: 2px solid #19323c;
    border-radius: 2px;
    margin: auto;
    margin: 8px 0 10px 10px;
    width: 94%;
    height: 160px;
    display: flex;
    color: #19323c;
    text-align: justify;
}
    .section img {
        width: 65%;
    }
    .section h3, a {
        font-size: 28px;
        color: #19323c;
        padding: 15px;
        margin-top: 10px;
    }
    .section p {
        line-height: 15px;
    }

#foot {
    margin-top: 60px;
    color: #19323c;
    font-size: 11px;
    text-align: center;
}
    #foot a {
        color: #19323c;
        margin-left: -10px;
    }
    #foot a:hover {
        color: #ffaa6d;
    }
    #foot p {
        line-height: 6px;
    }