<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>
    <div id="container">
        <p class="top-right"><a href="/">Go to a homepage</a></p>
        <h1>Welcome to the admin page.</h1>
        
        <p><a href="/admin/products">See all products listed on the website.</a></p>
        <p><a href="/admin/orders">See all orders made by customers.</a></p>
        <p><a href="/admin/new">Upload a new product to the website.</a></p>


        
    </div>
</body>
</html>