<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin upload a new product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>
    <div id="container">
        <form method=POST enctype="multipart/form-data">
            <p class="top-right"><a href="/admin">Go back to admin</a></p>
            {% csrf_token %}
            {{form.as_p}}
            <p>Category:</p>
            <div>
            {% for category in all_categories %}
                <p><input id="cat" type="checkbox" name="category" value={{category.id}}>
                <label for="cat">{{ category.category }}</label></p>
            {% endfor %}
            </div>
            <p>Other Category:</p>
            <p><input type="text" name="other_cat"></p>
            <p><button>Upload this</button></p>
            
        </form>
    </div>
</body>
</html>
